/*
@include screen(laptop) {
  width: 80vw;
}
*/
header h2 {
  display: none;
}

main section {
  display: none;
}

footer section {
  display: none;
}

.active {
  display: flex;
}

.hidden {
  visibility: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

body {
  font-size: 15px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 100;
}

.hidden {
  display: none;
}

@font-face {
  src: url(../assets/fonts/bubblegum.ttf);
  font-family: "font-primary";
}
@font-face {
  src: url(../assets/fonts/fontname.ttf);
  font-family: "font-secondary";
}
button {
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
  outline: none;
  border: 0.08rem solid black;
  text-align: center;
  transition: all 0.2s ease;
  position: relative;
  border-radius: 0.2rem;
  font-family: "font-primary";
}

button:hover {
  background-color: #112166;
  color: #fff;
}

.popup__congrats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: bisque;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  outline: 1px dashed green;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

footer {
  outline: 1px dashed green;
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
footer .footer__game {
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
footer .footer__game .details__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
footer .footer__game .details__cont .time__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 1rem;
}
footer .footer__game .details__cont .score__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 1rem;
}
footer .footer__game .button__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

main {
  outline: 1px dashed green;
  width: 100vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.header__home {
  outline: 1px dashed green;
}

.main__home {
  width: 100vw;
  height: 78vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main__home .logo__cont {
  outline: 1px dashed green;
  width: 100vw;
  height: auto;
}
.main__home .logo__cont img {
  width: 20rem;
  height: auto;
  margin: 0 auto;
}
.main__home .language__cont {
  outline: 1px dashed green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main__home .language__cont .title__cont {
  width: 100vw;
  text-align: center;
}
.main__home .language__cont .flags__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main__home .language__cont .flags__cont .flag__cont {
  outline: 1px dashed green;
  width: 30vw;
  height: auto;
}
.main__home .language__cont .flags__cont .flag__cont img {
  width: 4rem;
  height: auto;
  margin: 0 auto;
}

.header__options {
  outline: 1px dashed green;
}

.main__options {
  width: 100vw;
  height: 78vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__options form {
  outline: 1px dashed green;
  width: 100vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.main__options form .component__cont {
  outline: 1px dashed green;
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main__options form .component__cont .title__cont {
  outline: 1px dashed green;
}
.main__options form .component__cont .title__cont h2 {
  outline: 1px dashed green;
}
.main__options form .component__cont .input__cont {
  outline: 1px dashed green;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.header__game {
  outline: 1px dashed green;
}

.main__game {
  outline: 1px dashed green;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}
.main__game .cards__cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main__game .cards__cont .cards {
  width: 100px;
  height: auto;
}/*# sourceMappingURL=main.css.map */